.popup__close-button {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url("../../../images/close-icon.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  position: absolute;
  right: -40px;
  top: -40px;
  cursor: pointer;
  transition: .1s ease-in;
}

.popup__close-button:hover {
  opacity: .6;
}

@media screen and (max-width: 597px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    right: 0;
    top: -50px;
  }
}
