.popup__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 430px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  transition: .1s ease-in;
}

@media screen and (max-width: 597px) {
  .popup__container {
    width: 282px;
  }
}
